<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto">
        <div class="small m-0 text-white">Copyright &copy; Коледж <%= Time.current.year %></div>
      </div>
      <div class="col-auto">
        <%= link_to "Конфіденційність", "#", class: "link-light small" %>
        <span class="text-white mx-1">&middot;</span>
        <%= link_to "Умови використання", "#", class: "link-light small" %>
        <span class="text-white mx-1">&middot;</span>
        <%= link_to "Контакти", "#", class: "link-light small" %>
      </div>
    </div>
  </div>
</footer>
