<% content_for :title, "Публічна інформація" %>

<div class="container py-5">
  <h1 class="mb-4">Публічна інформація</h1>
  
  <div class="card mb-4">
    <div class="card-header">
      <h3 class="mb-0">Основні документи</h3>
    </div>
    <div class="card-body">
      <ul>
        <li><a href="#">Статут коледжу</a></li>
        <li><a href="#">Ліцензія на освітню діяльність</a></li>
        <li><a href="#">Правила внутрішнього розпорядку</a></li>
        <li><a href="#">Річний звіт про діяльність</a></li>
      </ul>
    </div>
  </div>
</div>
